- const itemsSlider = 7;


<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home Easy | @HOME_DATE@
    link(rel="stylesheet" href="/assets/style.css")

    style.
      .slider {
        max-height: none;
        display:flex;
        width: calc(100% * #{itemsSlider});
      }
      .slider__container {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
      }
      .slider__item {
        width: 100%;
      }
      .slider-nav-text {
        position: sticky;
        left: 0;
        bottom: 0;
        height: auto;
        background-color: #000;
        opacity: 1;
        padding: 10px;
        display:flex;
        justify-content: center;
        gap: 10px;
      }
      img {
        max-width: 100%;
        display: block;
      }

  body
    .route
      .slider__container  
        include ./slider
      include ./home